.about{
    background-color: map-get($colors, primary );
    color: white;
    display: flex;
    padding: 8rem 6rem;
    justify-content: center;
    align-items: center;

    @include responsive(xs){
        padding: 4rem  2rem;
        flex-direction: column;
    }
    @include responsive(sm){
        padding: 4rem  2rem;
        flex-direction: column;
    }

    @include responsive(lg){
        padding: 4rem 8rem ;
        flex-direction: row;
        align-items: center;
    }

    @include responsive(xlg) {
        padding: 4rem 12rem;
        justify-content: space-between;

    }

    @include responsive(xxlg) {
        padding: 8rem 15rem;

    }

    &_img{
        // width: 30rem;
        @include responsive(sm){
            width: 30rem ;
            margin-bottom: 3rem ;
        }
        @include responsive(lg){
            width: 30rem ;
            margin-bottom: 3rem ;
        }
        @include responsive(xlg){
            width: 30rem ;
            margin-bottom: 3rem ;
        }
        @include responsive(xxlg){
            width: 30rem ;
            margin-bottom: 3rem ;
        }

    }
    &_text{
        margin-left: 4rem;
        padding: 20px;
        line-height: 2.2rem;
        // width: 35rem;
        @include responsive(xs){
            margin: 0;
        }
        @include responsive(sm){
            margin: 0;
            
        }
        @include responsive(lg){
            margin: 0;
            align-items: center ;
            justify-content: center ;            
        }

        
        @include responsive(xlg){
            margin-left: 2rem;
        }
        h2{
            margin-bottom: 1rem;
            font-size: 2.2rem;

            @include responsive(xs){
                font-size: 1.5rem;
            }
            @include responsive(sm){
                font-size: 1.5rem;
            }
            @include responsive(xlg){
                font-size: 2.2rem;
            }
        }
        p{
            font-size: 1.2rem;
            color: rgb(219, 207, 207);

            @include responsive(xs){
                font-size: 0.9rem;
                line-height: 1.6rem;
            }
            @include responsive(sm){
                font-size: 0.9rem;
                line-height: 1.6rem;
            }
            @include responsive(xlg){
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
            @include responsive(xxlg){
                font-size: 1.6rem;
                line-height: 1.8rem;
            }

        }
    }
}