.hero {
    display: flex;
    justify-content: space-around;
    padding: 8rem 50rem;
    align-items: center;

    @include responsive(xs) {
        padding: 4rem 2rem;
        flex-direction: column;
    }

    @include responsive(sm) {
        padding: 4rem 2rem;
        flex-direction: column;
    }

    @include responsive(lg) {
        padding: 4rem 6rem;
        flex-direction: row;
    }

    @include responsive(xlg) {
        padding: 4rem 8rem;
        justify-content: space-between;
    }

    @include responsive(xxlg) {
        padding: 8rem 20rem;
        justify-content: space-between;
    }

    @include responsive(sm) {
        img {
            width: 25rem;
        }
    }




    &_text {
        margin-right: 2rem;
        max-width: 34rem;

        @include responsive(sm) {
            margin-bottom: 1rem;
        }

        @include responsive(lg) {
            max-width: 25rem;
        }

        @include responsive(xlg) {
            max-width: 28rem;
        }

        @include responsive(xxlg) {
            max-width: 40rem;
        }

        h2 {
            font-size: 3.4rem;
            margin-bottom: 1.4rem;
            line-height: 5rem;

            @include responsive(xs) {
                font-size: 2rem;
                line-height: 3rem;
            }

            @include responsive(sm) {
                font-size: 1.5rem;
            }

            @include responsive(lg) {
                font-size: 2.6rem;
            }


            @include responsive(xlg) {
                font-size: 2.8rem;
            }

            @include responsive(xxlg) {
                font-size: 3rem;
            }
        }

    }

    p {
        // font-size: 1.2rem;
        // line-height: 1.8rem;
        color: gray;
        margin-bottom: 1.4rem;

        @include responsive(xs) {
            font-size: 0.9rem;
        }

        @include responsive(lg) {
            font-size: 1.2rem;
        }
        @include responsive(xlg) {
            font-size: 1.2rem;
        }

        @include responsive(xxlg) {
            font-size: 2rem;
        }
    }
    &_image_responsive {

        width: 25rem;

        @include responsive(xs) {
            width: 20rem !important;
        }
    
        @include responsive(xxlg) {
            width: 40rem !important;
        }
    }
    
}



@include responsive(xs) {
    .shapes {
        display: none;
    }

}

.shapes_box1 {
    border: 2.5px solid map-get($colors, primary);
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    left: 15%;
    top: 28%;
    position: absolute;
    z-index: -1;
    animation: rot linear 6s infinite;
    transition: 5s;
    transform: rotate(360deg);

    @include responsive(sm) {
        left: 15%;
        top: 20%;
    }

    @include responsive(lg) {
        left: 15%;
        top: 24%;
    }
}



.shapes_box2 {
    border: 2.5px solid map-get($colors, primary);
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    right: 15%;
    top: 33%;
    position: absolute;
    z-index: -1;
    animation: rot linear 6s infinite;
    transition: 5s;
    transform: rotate(360deg);

    @include responsive(lg) {
        right: 5%;
        top: 33%;
    }
}


.shapes_box3 {
    border: 2.5px solid map-get($colors, primary);
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    right: 20%;
    top: 74%;
    position: absolute;
    z-index: -1;
    animation: rot linear 6s infinite;
    transition: 5s;
    transform: rotate(360deg);

    @include responsive(sm) {
        right: 20%;
        top: 74%;
    }

    @include responsive(lg) {
        right: 50%;
        top: 94%;
    }
}


.dot1 {
    background-color: map-get($colors, primary);
    border: 2.5px solid map-get($colors, primary);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    left: 8%;

    @include responsive(sm) {
        left: 4%;
    }

}

.dot2 {
    background-color: red;
    border: 2.5px solid red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 75%;
    top: 20%;

    @include responsive(lg) {
        left: 70%;
        top: 21%;
    }
}

.dot3 {
    background-color: map-get($colors, primary);
    border: 2.5px solid map-get($colors, primary);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 85%;
    left: 92%;
}

.dot3 {
    background-color: map-get($colors, primary);
    border: 2.5px solid map-get($colors, primary);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 85%;
    left: 92%;
}

.circle1 {
    background-color: transparent;
    border: 2.5px solid red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 42%;
    top: 22%;
}

.heart1 {
    color: red;
    position: absolute;
    top: 48%;
    left: 10%;
    animation: rot linear 5s infinite;
    z-index: -1;

    @include responsive(sm) {
        left: 6%;
    }
}

.heart2 {
    color: red;
    position: absolute;
    top: 54%;
    right: 10%;
    animation: rot linear 5s infinite;
    z-index: -1;

    @include responsive(lg) {
        right: 4%;
    }
}